.insights-no-content {
    flex: 1;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* border: 1px solid white */
}

.insights-text {
    margin-top: 50px;
    width: 80%;
    height: 40%;
    font-family: "VG5000-Regular", serif;
    color: rgba(0, 0, 0, 0.8);
    font-size: 32px;
    letter-spacing: 1px;
    line-height: 1.3;
    text-align: center;
  }

  .insights-refresh {
    display: flex;
    flex-direction: row-reverse;
  }