.card-container {
    flex: 1;
    height: 100%;
    width: 90%;
    overflow: hidden;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 0;

}

.card-inner-container {
    width: 86%;
    height: 90%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    overflow: hidden;
    /* border: 1px solid white; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    user-select: none;
    z-index: 0;

}

.card-bottom {
    flex: 1;
    width: 100%;
    /* border: 1px solid orange; */
    height: 10%;
    display: flex;
    flex-direction: row-reverse;
    overflow: visible;
    align-items: center;
}

.hyperbutton {
    width: fit-content;
    margin: 6px 4px;
    user-select: none;
    cursor: pointer;
    background: #181818;
    padding: 5px;
    height: fit-content;
    overflow: hidden;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transition: all 0.5s;
}

.hyperbutton-text {
    font-family: 'VG5000-Regular', sans-serif;

    color: #ffffff;
    font-size: calc(15px + 3vw);

    letter-spacing: 0px;
    user-select: none;

    line-height: 1;
    text-align: center;
}


.hyperbutton-text-input {
    font-family: 'VG5000-Regular', sans-serif;
    background: inherit;
    border: none;
    height: 100%;
    width: 12ch;
    color: #ffffff;
    font-size: calc(15px + 3vw);
    text-transform: lowercase;

    letter-spacing: 0px;
    /* user-select: none; */

    line-height: 1;
    text-align: center;
    outline: none;
}

.svg-content { 
	display: block;
	/* position: ab; */
	top: 0;
    left: 0;
    
    /* width: ; */
}

.insights-card-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 20px;

}

.insights-top-banner {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    justify-items: center;
    align-items: center;
    overflow: hidden;
}

.insights-text-div {

    flex: 1;
    height: 1fr;
    width: 80%;
    font-family: "Work Sans", sans-serif;
    color: #000000;
    font-size: 30px;
    letter-spacing: 0px;
    line-height: 1.3;
    font-weight: 500;
    font-style: normal;
}

.insights-card-input {
    width: 100%;
    height: 75%;
    color: inherit;
    background: transparent;
    border: none;
    font-family: 'VG5000-Regular', sans-serif;
    font-size: inherit;
}

.insights-bare {
    flex: 1;
    width: 35%;
    height: 100%;
    overflow: hidden;
    border-radius: 0 0 34px 0;
}

.insights-card-title {
    flex: 2;
    width: 1fr;
    height: 24px;
    font-family: "Work Sans", sans-serif;
    color: rgba(255, 255, 255, 0.51);
    font-size: 19px;
    letter-spacing: 0px;
    line-height: 1.3;
    font-weight: 500;
    font-style: normal;

}

.insights-bottom-bar {
    width: 100%;
    /* border: 1px solid orange; */
    height: 10%;
    display: flex;
    flex-direction: row-reverse;
}

.machine-text-div {
    flex: 1;
    height: 1fr;
    width: 80%;
    font-family: "VG5000-Regular", "VG5000", serif;
    color: #ffffff;
    font-size: calc(20px + 1vw);
    letter-spacing: 1px;
    line-height: 1.3;
    font-weight: 400;

}


@media screen and (min-width: 1024px) {
    .hyperbutton-text {
        font-family: 'VG5000-Regular', sans-serif;
    
        color: #ffffff;
        font-size:36px;
    
        letter-spacing: 0px;
        user-select: none;
    
        line-height: 1;
        text-align: center;
    }
}