body {
  width: 100%;
  height: 100%;
  min-height: 100%;
  background: #001111;
  overflow: hidden;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Work Sans', sans-serif;
  /* transition: all 1s; */
}

html {
  width: 100vw;
  overflow: hidden;
}

.app {
  width: 100vw;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {}


.flex-container {
  width: 100%;
  max-width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

.text-large {

   font-size: calc(26px + 6 * ((100vw - 320px) / 2000));
    
    line-height: 1.2em;
    font-family: 'VG5000-Regular', sans-serif;
  
}

.text-medium {

  font-size: calc(16px + 15 * ((100vw - 320px) / 2000));
   
   line-height: 1.2em;
   font-family: 'VG5000-Regular', sans-serif;
 
}
.text-vg5000 {
  font-family: "VG5000-Regular", sans-serif;

}

.text-small {
  font-size: calc(14px + 6 * ((100vw - 320px) / 2000));
  line-height: 1.2em !important;
  font-family: 'Work Sans', sans-serif;
}


.navigation-text {
  margin-top: -10px;
  font-size: 12px;
  color: white;
}



.cards-flex-container {
  width: 100%;
  height: 100%;
  /* position: relative; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;

}


.insight-button-anim { 
 
  border-radius: 50%;
  position: absolute;
  background: #ffff88;
  bottom: -15px;
  right: -15px;
  z-index: 12;

  /* background: transparent !important;
  transition: all 0.53s ease-in; */
}

.insight-button-anim-toggled{
  transform: scale(20);

  background: #ffff88;
}

.insight-button-anim-ring { 
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  bottom: 25px;
  right: 25px;
  /* background:tr; */

  z-index: 12;
  transform: scale(1);
  /* transition-delay: 0.33s; */
/* 
  background: transparent !important;
  transition: all 0.53s ease-in; */
}

.insight-button-anim-ring-toggled{

  background: rgba(255,255,255,0.5);
}
.cards-top-bar {
  width: 90%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  overflow: hidden;
  /* background: red; */
  /* border:1px solid red; */
}

.cards-content {
  flex: 1;
  height: 70%;
  width: 88%;
  /* left: 2%; */
  /* overflow: hidden; */
  /* border-radius: 10px; */
  /* box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25); */
}

.cards-bottom-bar {
  width: 100%;
  height: 12%;
  overflow: visible;
  /* border: 1px solid red; */
}

.bottom-nav-bar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
  z-index: 5;

}

.cards-top-bar-menu {
  width: 15%;
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cards-top-bar-divider {
  width: 70%;
  height: 100%;
  /* border:1px solid red; */

}

.cards-top-bar-share {
  width: 15%;
  height: 100%;
  /* border:1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 5;
  cursor: pointer;


}

#lightbulb {
  cursor: pointer;
  padding: 0px 20px;


}


.share-modal {
  opacity: 0;
  width: 100vw;
  height: 89%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  background-color: #181818;
}

.share-top-space {

  width: 90%;
  height: 10%;
  overflow: visible;
  display: flex;
  flex-direction: row-reverse;
}

.share-qr-code {
  flex: 1;
  height: 1fr;
  width: 90%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
  background-color: #ffffff;
  border-radius: 13px;
}

.share-text-box {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: visible;
  width: 80%;
  height: 40%;
  font-family: "Work Sans", sans-serif;
  color: #ffffff;
  font-size: calc(15px + 10 * ((100vw - 320px) / 2000));
  letter-spacing: 0px;
  line-height: 1.2;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

.share-send-a-link {
  margin-top: 20px;
  width: 150px;
  height: 46px;
  overflow: hidden;
  background-color: #2862ff;
  border-radius: 6px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4);
  font-family: "Work Sans", sans-serif;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0px;
  line-height: 1.2;
  font-weight: 400;
  font-style: normal;
  border: none;
  outline: none;
}

.background {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  bottom: 0;
  opacity: 1;
  z-index: 2;
  width: 100vw;
  height: 89%;
  background: #181818;
}


.menu-button {
  text-align: center;
  z-index: 7;
  outline: none;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  position: absolute;
  top: 2.5%;
  left: 5%;
  width: calc(30px + 2vw);
  max-height: 45px;

  max-width: 45px;
  height: calc(30px + 2vw);
  border-radius: 50%;
  background: #181818;
}

.menu-button-share {
  text-align: center;
  z-index: 7;
  outline: none;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
 
  width: calc(30px + 2vw);
  /* max-height: 45px; */
  height: 100%;
  max-width: 45px;
  height: calc(30px + 2vw);
  border-radius: 50%;
  background: #181818;
}


.info-panel {
  display: flex;
  width: 80%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  color: white;
  z-index: 2;
}

.info-title {
  width: 95%;
  height: 1fr;
  font-family: "Work Sans", sans-serif;
  color: #ffffff;
  font-size: calc(21px + 15 * ((100vw - 320px) / 2000));
  letter-spacing: 1px;
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
}

.info-sources {
  flex: 1;
  height: 1fr;
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: visible;
}

.info-sources-text {
  width: 100%;
  height: fit-content;
  font-family: "Work Sans", sans-serif;
  color: rgba(95, 95, 95, 0.9);
  font-size: 12px;
  margin: 5px 0px;
  letter-spacing: 0px;
  line-height: 1.2;
  font-weight: 400;
  font-style: normal;
  text-align: left;
}

.info-learn {
  margin-top: 20px;
  flex: 0.8;
  height: 1fr;
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: visible;
}

.info-learn-text {
  flex: 1;
  height: 1fr;
  width: 100%;
  opacity: 0.78;
  font-family: "Work Sans", sans-serif;
  color: #ffff88;
  font-size: calc(12px + 8 * ((100vw - 320px) / 2000));
  letter-spacing: 0px;
  line-height: 1.2;
  font-weight: 400;
  font-style: normal;
  text-align: left;
}

.info-button {
  overflow: hidden;
  background-color: #2862ff;
  border-radius: 6px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.4);
  width: 50%;
  max-width: 300px;

  height: 50px;
  color: white;
  font-size: 15px;
  border: none;
  outline: none;
}

.info-bottom {
  margin-top: 20px;
  text-align: center;
  flex: 1;
  height: 1fr;
  width: 100%;
  overflow: visible;
}

.info-bottom-box {
  flex: 0.5;
  height: 1fr;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  background-color: #181818;

}



@media screen and (min-width: 1025px) {
  .menu-button {
    text-align: center;
    z-index: 7;
    outline: none;
    border: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
    position: absolute;
    top: 5%;
    left: 2.5%;
    width: calc(30px + 2vw);
    max-height: 45px;

    max-width: 45px;
    height: calc(30px + 2vw);
    border-radius: 50%;
    background: #181818;
  }
  #lightbulb {
    cursor: pointer;
    padding: 0px 30px;
    margin-bottom: 10px;
  
  
  }
  .cards-content {
    width: 1fr;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
  }

  .cards-spacer {
    width: 20%;
  }


  .cards-flex-container {
    flex-direction: row;
  }

  .cards-top-bar {
    width: 9%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    overflow: hidden;
    /* background: red; */
    /* border: 1px solid red; */
  }

  .cards-top-bar-share {
    width: 100%;
    height: 15%;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 5;
  }

  .share-modal {
    width: 90vw;
    height: 100%;
  }

  .background {
    width: 90vw;
    height: 100%;

  }

  .cards-bottom-bar {
    width: 10%;
    height: 75%;
    overflow: visible;
    /* border: 1px solid red; */
  }

  .bottom-nav-bar {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    z-index: 5;
  }


.menu-button-share {
  text-align: center;
  z-index: 7;
  outline: none;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
 
  width: calc(30px + 2vw);
  /* max-height: 45px; */
height: 100%;
  max-width: 45px;
  height: calc(30px + 2vw);
  border-radius: 50%;
  background: #181818;
}

}