.join-flex-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    background-color: #c4c219;
    color:white;

}

.join-anim-frame {
    flex: 0.6;
    height: 1fr;
    width: 100%;
    overflow: visible;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow-segment {
    width: 100%;
    height: 3%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    background-color: #181818;
}
.join-top-bar {
    
        width: 100%;
        padding-left: 10%;
        /* padding: 0 10%; */
        height: 10%;
        overflow: visible;
        display: flex;
        background: #c4c219;
    
        flex-direction: row;
        align-items: center;
    
}

.join-text-box {
    flex: 0.6;
    height: 1fr;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;

    overflow: visible;
}

.join-code-box {
    width: 100%;
    height: 19%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #181818;
    margin-bottom: -1px;
}

.join-bottom-box {
    flex: 0.5;
    height: 1fr;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    background-color: #181818;
}


@media screen and (min-width: 768px) {
    .join-flex-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        overflow: hidden;
        background-color: #c4c219;
        color:white;
    
    }
    
    .join-anim-frame {
        flex: 0.6;
        height: 1fr;
        width: 100%;
        overflow: visible;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .join-top-bar {
        padding-left: 5%;

            width: 100%;
            /* padding: 0 10%; */
            height: 10%;
            overflow: visible;
            display: flex;
            background: #c4c219;
        
            flex-direction: row;
            align-items: center;
        
    }
    
    .join-text-box {
        flex: 0.6;
        height: 1fr;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    
        overflow: visible;
        
    }
    
    .join-code-box {
        width: 100%;
        height: 19%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: -1px;
        overflow: hidden;
        background-color: #181818;
    
    }
    
    .join-bottom-box {
        flex: 0.5;
        height: 1fr;
        padding: 20px 0px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        overflow: hidden;
        background-color: #181818;
    }
}