.demo-flex-container {
    width: 100%;
    top:0px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    color: white;
    background-color: #181818;
}
.item-layout{ 
  width: 100%;
  height: 100%;
}
.demo-item-stack {
    width: 100%;
    height: 20%;
    cursor: pointer;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    background: #181818;
    box-shadow: inset 0 -10px 11px 0 rgba(0, 0, 0, 0.08);
}

.demo-text {

    height: 50%;
    width: 50%;
    font-family: "Work Sans", sans-serif;
    color: #ffffff;

}

.demo-hello-text-box {
    width: 100%;
    height: 10%;
    min-height: 20px;
    margin-top:-1px;
    background: #2862ff;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    overflow: visible;
  }

  .form-segment {
    width: 100%;
    height: 5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    background-color: #181818;
  }

  .close-button {
    left: 5%;
    top: 5%;
    position: relative;
  }
 

  .demo-top-bar {
    width: 100%;
    /* padding: 0 10%; */
    min-height: 20px;
    height: 10%;
    overflow: visible;
    display: flex;
    background: #2862ff;

    flex-direction: row;
    align-items: center;
  }

  .demo-close {
      margin-left: 10%;
  }


  @media screen and (min-width: 1024px) {
    .item-layout{ 
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      overflow: visible;
    }

    .demo-item-stack {
      flex:1;
      width: 1fr;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      background-color: #181818;
    }
    .close-button {
      left: 5%;
      top: 5%;
      position: relative;
    }
  }