.page-1 {
    background-color: #181818;
    background: #181818;
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}

.setup-anim-frame {
    flex: 0.8;
    height: 100%;
    width: 100%;
    overflow: visible;
    display: flex;
    align-items: center;
    justify-content: center;
}

.setup-top-bar {
    width: 90%;
    height: 10%;
    overflow: visible;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .setup-image-2 {
      display: flex;
      justify-content: space-around;
      padding: 10px;
  }

.setup-text-box {

    flex: 1;
    height: 100%;
    width: 80%;
    max-width: 500px;


}

.setup-add-button {
    text-align: left;
    margin-top: 20px !important;
    color:white
    /* margin-left: -50%; */
}

.setup-textfield {
    width: 100%;
    padding: 5px 0;
}

.setup-dotstyle {
    width: 40%;
    min-width: 220px;
    padding: 0px;
    height: 100%;
    overflow: visible;
    display: flex;
    flex-direction: row;
}

.setup-dotbutton {
    flex: 1;
    height: 100%;
    display: flex;
    margin: 0px;
    align-items: center;
    text-align: center;
    justify-content: center;
    background: transparent
}

.setup-dot {
    width: 18px;

    height: 18px;
    overflow: hidden;
    background-color: white;
    opacity: 0.45;
    border-radius: 50%
}
.setup-page4 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: #181818;
}


.setup-item-stack {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    background: #181818;
    /* box-shadow: inset 0 -10px 11px 0 rgba(0, 0, 0, 0.08); */
}

.setup-text {

    height: 50%;
    width: 50%;
    color: #ffffff;

}

.loader {
    width: 100%;
    text-align: center;
}

.setup-generating {
    width: 100%;
    margin-top:5px;
    height: 19px;
    font-family: "Work Sans", sans-serif;
    color: rgba(255, 255, 255, 0.61);
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 1.2;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

.blue-button {
    width: 110px;
    height: 40px;
    overflow: hidden;
    background-color: #2862ff;
    border-radius: 8px;
    border: none;
    outline: none;
}
.setup-bottom-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 15%;
    margin-bottom: 20px;
}
.tutorial-content {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: visible;
  }

@media screen and (min-width: 1025px) {
    .setup-text-box{
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .setup-bottom-section {
        display: flex;
        flex-direction: row;
    }

    .setup-dotstyle {
        /* width: 60vw; */
        padding: 0 20vw;
        /* background: red; */
    }

    .tutorial-content {
        flex: 3;
        height: 1fr;
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        overflow: visible;
    }

    .setup-item-stack {
        flex: 1;
        width: 20%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: visible;
    }

    .setup-text {
        height: 20%;
        width: 100%;
        text-align: center;
    }
    .page3-text{
        width: 80%;
    }

    .loader {
        margin-bottom: 30px;
    }

    .setup-anim-frame {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-items: center;
        align-content: center;
        height:100%
    }
    .setup-row-stack {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        /* padding: 50px; */
        /* overflow: visible; */
    }

    .setup-row-div {
        flex: 1;
        width: 1fr;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        justify-items: center;
        align-content: center;
        /* padding: 43px; */
        overflow: visible;
    }

    .form {
        flex: 1;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        overflow: visible;
    }
}