.home-flex-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  color: white;
  z-index: 1231;
  background: #181818;
}

.home-text-box {
  flex: 1.2;
  height: 1fr;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: visible;
}

.text {
  width: 100%;
  height: 1fr;
  font-family: "Work Sans", sans-serif;
  color: #ffffff;
  font-size: 31px;
  letter-spacing: 0px;
  line-height: 0.6em;
  font-weight: 400;
  font-style: normal;
  text-align: left;
}


.home-demo {
  flex: 1;
  height: "1fr";
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: #2862ff;
  overflow: hidden;
  /* line-height: 1em; */
}

.home-create-join {
  flex: 1;
  height: "1fr";
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden;
}

.home-create-btn {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  overflow: hidden;
  background-color: #ff5131;
}

.home-join-btn {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  overflow: hidden;
  background-color: #c4c219;
}

.home-top {
  width: 100%;
  /* height: 10%; */
  overflow: visible;
  background-color: rgba(0, 153, 255, 0);
}


.home-flex-container-wide {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}
.home-stack-desktop {
  flex: 1;
  width: 1fr;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: visible;
}

.home-text-box-desktop {
  flex: 1.2;
  height: 50%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: visible;
}

.home-top-content {
  flex: 1;
  height: 100%;
  width: 100%;
  /* padding: 10%; */
  /* margin: 00% 0; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-content: center;
  overflow: hidden;
  background: #181818;
}

.card-machine-animation {
  width: 100%;
  /* border: 1px solid white; */
  height: 33%;
  max-height:165px;
  position: relative;
  left: -80px;
  display: flex;
  flex-direction: row;

}
.home-text {
  width: 70%;
  text-align: left;
  height: 100%;
  color: #ffffff;
  letter-spacing: 1px;
  line-height: 0.7em !important;

}

.home-title {
  font-family: "VG5000-Regular", "VG5000", serif;
  color: #ffffff;
  font-size: calc(2em + 1vw);
  letter-spacing: 1px;
  line-height: 1.2;
  font-weight: 400;
}

.home-subtitle {
  color: #ffffff;
  font-size: calc(.8em + 1vw);
  letter-spacing: 0px;
  line-height: 1.2;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}


@media screen and (max-width: 767px){
  .home-title {
    font-family: "VG5000-Regular", "VG5000", serif;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 1.2;
    font-weight: 400;
  }
  
  .home-subtitle {
    color: #ffffff;
    font-size: 12px;
    letter-spacing: 0px;
    line-height: 1.2;
    font-weight: 400;
    font-style: normal;
    text-align: center;
  }
}


